* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    /* global vars */
    --container-padding: 30px;
    --city-search-container-desktop-width: 400px;

}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

input, button {
    outline: none;
    font-family: 'Roboto', sans-serif;
}